#board{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    place-content: start;
    justify-content: center;
}

#board img{
    width: 5.5rem;
    height: 9rem;
    cursor: pointer;
}

.bean{
    position: absolute;
    animation-name: drop-bean;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    width: 4rem;
    height: 3rem;

    cursor: pointer;

    z-index: 5000;
}

@keyframes drop-bean{
    from{
        width: 6rem;
        height: 5rem;
    }to{
        width: 4rem;
        height: 3rem;
    }
}

#announcement-card{
    position: absolute;
    visibility: hidden;
    z-index: 9999;
}

.announcement-card-anim{
    animation-name: grow-image;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes grow-image{
    0%{
        visibility: hidden;
        transform: scale(0);
    }20%{
        visibility: visible;
        transform: scale(1);
    }30%{
        transform: scale(1);
    }40%{
        transform: scale(1);
    }50%{
        transform: scale(1);
    }80%{
        transform: scale(0.01);
    }
    100%{
        visibility: hidden;
        transform: scale(0);
    }
    /*
    0%{
        transform: scale(0);
    }50%{
        transform: scale(1);
    }100%{
        transform: scale(0);
    }
    */
}

#buenas-btn {
    font-size: 1.5rem;
    padding: 15px;
    background-color: yellow;
    border: 2px solid black;
    cursor: pointer;
}
